@import "../../assets/src/scss/settings/variables";

.post-date {
    display: flex;
    align-items: center;
    gap: 5px;
    color: #6c757d;
    font-size: 0.875rem;

    svg {
        width: 24px;
        height: 24px;
        flex-shrink: 0;
    }

    time {
        line-height: normal;
    }
}